@model List<StudentERP.Models.AcademicYear>

@{
    ViewBag.Title = "List";
}


@{
    var grid = new WebGrid(Model);
    WebGridColumn[] AcdYeardeatil ={
                                  grid.Column(header:"Name",format:a=>a.Year),
                                  grid.Column(header:"Created Date",format: (item) => string.Format("{0:dd-MM-yyyy}", item.CreatedDate)),
                                  grid.Column(header:"Created By",format:a=>a.createdByWhom),
                                  grid.Column(header:"Edit",format:(a)=>Html.ActionLink("Edit","Edit",new{id=a.academicId},"AcademicYear"))

                              };
}
<div class="dialog">

    @grid.GetHtml(tableStyle: "PGrid", headerStyle: "Header", columns: AcdYeardeatil)
</div>

