@model List<StudentERP.Models.Standard>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

@{
    ViewBag.Title = "List_Std";
}
@{
    var grid = new WebGrid(Model);
    WebGridColumn[] stddetail ={
                                  grid.Column(header:"Name",format:a=>a.name),
                                  grid.Column(header:"Level",format:a=>a.LevelOfStd),
                                  
                                  grid.Column(header:"Created Date",format: (item) => string.Format("{0:dd-MM-yyyy}", item.CreatedDate)),
                                  grid.Column(header:"Created By",format:a=>a.createdByWhom),
                                  
                                  grid.Column(header:"Edit",format:(a)=>Html.ActionLink("Edit","Edit",new{id=a.StandardId},"Standard"))

                              };
}
<div class="dialog">

    @grid.GetHtml(tableStyle: "PGrid", headerStyle: "Header", columns: stddetail)
</div>
