@model StudentERP.Models.Board

@{
    ViewBag.Title = "Add";
}

@using (Html.BeginForm((string)ViewBag.name, "Board", FormMethod.Post))
{
    <div class="dialog">
        <div class="panel-default">

            <table width="100%">
                <tr>
                    <th colspan="4" class="header">Add Board</th>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>

                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                    <td class="subheader">@Html.LabelFor(lbl => lbl.bName)</td>

                    <td class="subheader">@Html.TextBoxFor(txt => txt.bName)</td>

                    <td>@Html.ValidationMessageFor(m => m.bName)<span id="bn"></span></td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>

                <tr>
                    <td colspan="3" class="incenter"><input type="submit" value="Add" class="bn" /></td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
}