@model List<StudentERP.Models.Board>

@{
    ViewBag.Title = "List";
}

@{
    var grid = new WebGrid(Model);
    WebGridColumn[] bdeatil ={
                                  grid.Column(header:"Name",format:a=>a.bName),
                                  grid.Column(header:"Created Date",format: (item) => string.Format("{0:dd-MM-yyyy}", item.CreatedDate)),
                                  grid.Column(header:"Created By",format:a=>a.createdByWhom),
                                  
                                  grid.Column(header:"Edit",format:(a)=>Html.ActionLink("Edit","Edit",new{id=a.bID},"Home"))

                              };
}
<div class="dialog">

    @grid.GetHtml(tableStyle: "PGrid", headerStyle: "Header", columns: bdeatil)
</div>
