@model List<StudentERP.Models.Occupation>

@{
    ViewBag.Title = "List";
}

@{
    var grid = new WebGrid(Model);
    WebGridColumn[] subdetail ={
                                  grid.Column(header:"Occupation",format:a=>a.name),
                                  
                                  grid.Column(header:"Edit",format:(a)=>Html.ActionLink("Edit","Edit",new{id=a.OccupationId},"Occupation"))
                              };
}
<div class="dialog">

    @grid.GetHtml(tableStyle: "PGrid", headerStyle: "Header", columns: subdetail)
</div>

