@model List<StudentERP.Models.Qualification>

@{
    ViewBag.Title = "List";
}

@{
    var grid = new WebGrid(Model);
    WebGridColumn[] subdetail ={
                                  grid.Column(header:"Qualification",format:a=>a.Name),
                                  grid.Column(header:"Edit",format:(a)=>Html.ActionLink("Edit","Add_subject",new{id=a.QualificationId},"Home"))
                              };
}
<div class="dialog">
        @grid.GetHtml(tableStyle: "PGrid", headerStyle: "Header", columns: subdetail)
</div>

