@model StudentERP.Models.EmployeeType

@{
    ViewBag.Title = "Add";
}


@using (Html.BeginForm((string)ViewBag.name, "EmployeeType", FormMethod.Post))
{
    <div class="dialog">
        <div class="panel-default">

            <table width="100%">
                <tr>
                    <th colspan="4" class="header">Add Employee Type</th>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                    <td class="subheader">@Html.LabelFor(lb => lb.emptype_name)</td>

                    <td class="subheader">@Html.TextBoxFor(txt => txt.emptype_name)</td>

                    <td>@Html.ValidationMessageFor(m => m.emptype_name)<span id="empnam"></span></td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>

                <tr>
                    <td colspan="3" class="incenter"><input type="submit" value="Add" class="bn" /></td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
}
