@model StudentERP.Models.shift

@{
    ViewBag.Title = "Add";
}

@using (Html.BeginForm("Add_shift", "Home", FormMethod.Post))
        {
    <div class="dialog">
    <div class="panel-default">

            <table width="100%">
                <tr>
                    <th colspan="3" class="header">Add Shift</th>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>

                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                    <td class="subheader">@Html.LabelFor(lbl => lbl.shiftName)</td>

                    <td class="subheader">@Html.TextBoxFor(txt => txt.shiftName)</td>

                    <td>@Html.ValidationMessageFor(m => m.shiftName)</td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>

                <tr>
                    <td colspan="3" class="incenter"><input type="submit" value="Add" class="bn" /></td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
            </table>
    </div>
</div>
        }