@model List<StudentERP.Models.FeeHeads>

@{
    ViewBag.Title = "List";
}

@{
    var grid = new WebGrid(Model);
    WebGridColumn[] fhdeatil ={
                                  grid.Column(header:"Name",format:a=>a.fhName),
                                  grid.Column(header:"Created Date",format: (item) => string.Format("{0:dd-MM-yyyy}", item.CreatedDate)),
                                  grid.Column(header:"Created By",format:a=>a.createdByWhom),
                                  grid.Column(header:"Edit",format:(a)=>Html.ActionLink("Edit","Edit",new{id=a.fhID},"Division"))
                              };
}
<div class="dialog">
    @grid.GetHtml(tableStyle: "PGrid", headerStyle: "Header", columns: fhdeatil)
</div>
