@model List<StudentERP.Models.Division>

@{
    ViewBag.Title = "List";
}

@{
    var grid = new WebGrid(Model);
    WebGridColumn[] divdetail ={
                                  grid.Column(header:"Division",format:a=>a.name),grid.Column(header:"Edit",format:(a)=>Html.ActionLink("Edit","Add_standard",new{id=a.DivisonID},"Home"))

                              };
}
<div class="dialog">

    @grid.GetHtml(tableStyle: "PGrid", headerStyle: "Header", columns: divdetail)
</div>
