@model List<StudentERP.Models.Religion>

@{
    ViewBag.Title = "List";
}

@{
    var grid = new WebGrid(Model);
    WebGridColumn[] religiondetail ={
                                      grid.Column(header:"Religion",format:a=>a.Name),
                                      grid.Column(header:"Edit",format:(a)=>Html.ActionLink("Edit","Edit",new{id=a.ReligionID},"Religion"))                           
                                    };
}
<div class="dialog">
    @grid.GetHtml(tableStyle: "PGrid", headerStyle: "Header", columns: religiondetail)
</div>
