@model StudentERP.Models.Subject

@{
    ViewBag.Title = "Add";
}

@using (Html.BeginForm((string)ViewBag.name, "Subject", FormMethod.Post))
{

    <div class="dialog">
        <div class="panel-default">

            <table width="100%">
                <tr>
                    <th colspan="4" class="header">Add Subject</th>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                    <td class="subheader">@Html.LabelFor(lbl => lbl.Name)</td>

                    <td class="subheader">@Html.TextBoxFor(txt => txt.Name)</td>

                    <td>@Html.ValidationMessageFor(m => m.Name)<span id="sub"></span></td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>

                <tr>
                    <td colspan="3" class="incenter"><input type="submit" value="Add" class="bn" /></td>
                </tr>

                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
}
